* {
  box-sizing: border-box;
	
}
h1 {
  margin-top: 30px;
  margin-bottom: 45px;
  text-align: center;
}

div {
	position:relative;
}

#chicken {
 border: 1px solid black;
 background-color: gray;
 height: 150px;
 margin-right: 5px;
 margin-left: 5px;
 margin-top: 5px; 
 margin-bottom: 5px;
 font-family: Helvetica;
 color: black;
}

#beef {
 border: 1px solid black;
 background-color: gray;
 height: 150px;
 margin-right: 5px;
 margin-left: 5px;
 margin-top: 5px; 
 margin-bottom: 5px;
 font-family: Helvetica;
 color: black;
}

#sushi {
 border: 1px solid black;
 background-color: gray;
 height: 150px;
 margin-right: 5px;
 margin-left: 5px;
 margin-top: 5px; 
 margin-bottom: 5px;
 font-family: Helvetica;
 color: black;
}

#l1 {
  background-color: pink;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  width: 65px;
  height: 20px;
  color: black;
  font-weight: bold;
}

#l2 {
	margin-top: 50px;
}

#l3 {
  background-color: red;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  width: 65px;
  height: 20px;
  color: white;
  font-weight: bold;
}

#l4 {
	margin-top: 50px;
}


#l5 {
  background-color: yellow;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  width: 65px;
  height: 20px;
  color: black;
  font-weight: bold;
}

#l6 {
	margin-top: 50px;
}
/* Simple Responsive Framework. */
.row  {
  width: 100%;
  padding-left: 15%;
}


/********** Desktop View **********/
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;

  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Tablet View **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sd-1, .col-sd-2, .col-sd-3, .col-sd-4, .col-sd-5, .col-sd-6, .col-sd-7, .col-sd-8, .col-sd-9, .col-sd-10, .col-sd-11, .col-sd-12 {

    float: left;
  }
  .col-sd-1 {
    width: 8.33%;
  }
  .col-sd-2 {
    width: 16.66%;
  }
  .col-sd-3 {
    width: 25%;
  }
  .col-sd-4 {
    width: 33.33%;
  }
  .col-sd-5 {
    width: 41.66%;
  }
  .col-sd-6 {
    width: 50%;
  }
  .col-sd-7 {
    width: 58.33%;
  }
  .col-sd-8 {
    width: 66.66%;
  }
  .col-sd-9 {
    width: 74.99%;
  }
  .col-sd-10 {
    width: 84.36%;
  }
  .col-sd-11 {
    width: 91.66%;
  }
  .col-sd-12 {
    width: 100%;
  }
}


/********** Mobile View **********/
@media (max-width: 767px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 74.99%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;

  }
  .col-xs-12 {
    width: 100%;
  }
}

